<!DOCTYPE html>
<html>
  <div class="header">
    <p>My Photo Gallery</p>
  </div>
  <div class="gallery">
    <div class="one">
      <div class="first">
        <img src="./assets/super-1.jpg">
        <img src="./assets/super-12.jpg">
      </div>
      <div class="second">
        <img src="./assets/super-9.jpg">
      </div>
    </div>
    <div class="two">
      <img src="./assets/super-3.jpg">
    </div>   
    <div class="three">
      <img src="./assets/super-16.jpg">
    </div> 
    <div class="four">
      <img src="./assets/super-11.jpg">
    </div>
  </div>
  <div class="footer">
    <p>Made with by ❤️ Virtusa</p>
  </div>
</html>